body {
  background-color: #D6F8FF;
  align-items: center;
  font-family: sans-serif;
}

p {
  text-align: center;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  font-family: 'Hammersmith One';
}

h2 {
  text-decoration: underline;
}

.col {
  background-color: white;
  border: solid 1px;
  width: 100%;
  padding: 0px;
  cursor: pointer;
}

#loginButton {
  align-self: center;
}

#wrapper {
  display: flex;
  flex-direction: column;
}

#schemaContainer {
  background-color: #D6F8FF;
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: repeat(7, 1fr);
  padding: 0px 50px 50px 50px;
}

.datum {
  text-align: center;
}

.booked {
  background-color: green;
  cursor: default;
}
